@media (min-width:1025px) and (max-width:1500px){

  .header{
    width: 100%;
    padding: 30px 90px;
  }

}




@media (min-width:768px) and (max-width:1024px){
  .header{
    width: 100%;
    padding: 30px 85px;
  }
}




@media (max-width:767px){
  .header{
    width: 100%;
    padding: 30px 40px;
    position: fixed;
    left: 0; top: 0;
    z-index: 999;
    >a{
      font-size: 1.5rem;
      font-weight: 500;
    }
    >div{
      >a{
        font-size: 1.2rem;
        font-weight: 400;
        margin-left: 40px;
      }
    }
  }
}